.btn_event_date {
    background-color: var(--pink);
    border: none;
    border-radius: 0 8px 8px 0;
}


.card_event_picker {
    .btn-primary {
        background: #5947f5 !important;
        border-color: #5947f5 !important;
    }

    .form-check-input:checked {
        background-color: #5947f5 !important;
        border-color: #5947f5 !important;
    }
}

.deal_event_modal {
    .btn-close {
        position: absolute;
        right: -5px;
        top: -5px;
        background-color: var(--light-pink);
        opacity: 1;

    }

    .nav-tabs {
        .nav-item {
            flex: auto;
            text-align: center;

            .nav-link {
                width: 100%;
                border-radius: 0 !important;
                background: var(--bs-light);
                border: none;
                font-weight: 500;
                color: #000;
                padding: 10px 24px;
            }

            .nav-link.active {
                background: var(--pink);
                color: #fff;
                border-radius: 6px;
            }
        }
    }

    .event-wrapper {
        background: #fff;
        border-radius: 12px;
    }

    .option-btn {
        font-size: 13px;
    }


}

.card_events {
    flex: 1;
}

.month-undecided {

    input {
        border-radius: 50% !important;
    }

}

.pointer-events-none {
    pointer-events: none !important;
}

.select-yearView {
    select {
        border-radius: 8px;
        padding: 5px;
    }
}


.border_end {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: -10px;
        width: 1px;
        height: 100%;
        background-color: #ccc;
    }
}


.tabNav-btn:disabled{
    
}
