.budget-calculator .btn-group {
    flex-wrap: wrap;
}

.est_budget_input {
    border: 1px solid #888888 !important;
    padding: 5px 20px;
}

.est_budget_input strong {
    font-size: 18px;
}

.est_budget_input .form-control {
    border: none !important;
}

.section_day {
    margin-bottom: 30px;
}

.section_day .btn-primary {
    background-color: var(--pink) !important;
    border-color: var(--pink) !important;
}

.section_day .form-control,
.section_day .form-check-input,
.section_day .input-group-text,
.section_day .form-select {
    border: 2px solid var(--pink) !important;
    border-radius: 4px !important;

}

.budget-btnwrap .btn {
    border-radius: 6px !important;
}

/* .budget-btnwrap .btn:is(:focus,:focus-visible){
    color: inherit !important; 
    background-color: inherit !important;
    border-color: inherit !important;
    outline: 0;
    box-shadow: inherit !important;
} */