.customCalendar{
    border: 0;
}

.customCalendar .react-calendar__navigation{
    display: none;
}

.react-calendar__tile--active {
    background: #5747f2;
    color: white;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 8px 0px #5747f282;
}

.react-calendar__tile--active:enabled:hover {
    background: #4737dd;
    box-shadow: 2px 2px 8px 0px #4737dd82;
}

.react-calendar__month-view__weekdays__weekday {
    padding: 0.5em;
    border-bottom: 1px solid #ccc;
    margin-bottom: 0.5rem;
    color: #b4b4b4;
}

.react-calendar__month-view__weekdays__weekday abbr[title] {
    text-decoration: none;
}

.react-calendar__month-view__days__day--weekend {
    color: inherit;
}