.product-card-style2, .product-card-style2 * {
    transition: all 0.3s ease;
}

.product-card-style2 .pcsTitle h2 {
    font-size: clamp(14px, 2.5vw, 16px);
}

.product-card-style2 .pcsLocation h4 {
    font-size: clamp(14px, 2.5vw, 16px);
}

.product-card-style2 .pcsLocation h6 {
    font-size: clamp(14px, 2.5vw, 16px);
}

.product-card-style2 .pcsPrice {
    display: inline-block;
    padding: 5px 20px;
    background: #921f62;
    color: #ffff;
    /* font-size: 16px; */
    line-height: 1.3;
    font-weight: 700;
}

.product-card-style2 .timeAndView {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 6px 0;
}

.product-card-style2 .timeAndView span {
    margin-left: 5px;
    font-size: clamp(14px, 2.5vw, 16px);
    font-weight: 600;
    line-height: 1;
}

.product-card-style2 .wishlist-icon{
    position: absolute;
    top: 2px;
    right: 8px;
    cursor: pointer;
    font-size: 24px;
    line-height: 1;
}

.product-card-style2 .ProductImg{
    width: fit-content;
    box-shadow: 4px 5px 6px 0px #00000087;
}

/* .product-card-style2:hover .ProductImg img{
} */

.product-card-style2 .ratingStars svg{
    width: 18px;
    height: 18px;
}

.product-card-style2 .cartType, .product-card-style2 .cartType h6 {
    font-size: 16px;
    color: #2c81a7;
    font-weight: 400;
}

.product-card-style2 span.verified {
    position: absolute;
    bottom: 0;
    right: 0;
    background: var(--pink);
    padding: 6px 20px;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    line-height: 1;
}