.review-card{
    background-color: var(--light-pink);
    border: 1px solid #868786;
    height: 100%;
}

.rc-inner{
    display: grid;
    align-items: start;
    gap: 0.5rem;
    grid-template-columns: auto 1fr;
}

.reviewAvatar{
    --size : 48px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    background-color: #FFF;
    border: 2px solid var(--pink);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--pink);
    font-size: calc(var(--size) - 1em);
    overflow: hidden;
}

.rc-stars{
    display: flex;
    align-items: center;
    color: #808180;
}

.rc-stars .active{
    color: var(--star-yellow);
}

.rc-txt{
    font-size: 14px;
    color: #000;
    line-height: 1.3;
    margin-top: 6px;
}


@media (max-width: 992px) {
    /* .rc-inner{
        grid-template-columns: 1fr;
        gap: 0.5rem;
    } */
}

