.catWrapper {
    position: relative;
}

.catWrapper .custom-container {
    overflow-x: auto;
    scrollbar-width: none;
}

.account-page .innerContainer {
    width: 100%;
    max-width: 1260px;
    margin: auto;
    padding: 0 1rem;
}

/* .catGrid::before {
    content: "";
    background-image:
        linear-gradient(90deg, #fff, transparent),
        linear-gradient(270deg, #fff, transparent);

    background-size: 16px 100%;
    background-position: left center, right center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */

.catGrid {
    gap: 0.5rem;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
}

.catCard {
    background: #3186af;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    transition: all 0.2s linear;
    padding: 10px 4px;
    border-radius: 10px;
    width: 120px;
    min-width: 120px;
}

.catCard.card-orange {
    background: #f5993a;
}

.catCard.card-green {
    background: #35b6a0;
}

.catCard img {
    width: auto;
    height: auto;
    max-height: 40px;
    object-fit: contain;
}

.catCard p {
    font-size: 12px;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    letter-spacing: -0.05em;
}

.catCard:hover {
    box-shadow: 0 0 10px 4px #00000036;
    transform: translateY(-1px);
    transition: all 0.2s linear;
}

.account-container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 1rem;
}

.accountProfileWrapper {
    border-bottom: 1px solid #808180;
}

.ProfilePic {
    position: relative;
    border: 10px solid var(--pink);
    border-radius: 50%;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    width: 100%;
    max-width: 260px;
    margin: auto;
}

.ProfilePic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Account header and personal info styles */
.account-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
    padding-bottom: 0.5rem;
    font-size: clamp(20px, 4vw, 36px);
    gap: 1rem;
    flex-wrap: wrap;
}

.business-name {
    font-size: clamp(24px, 5vw, 50px);
    font-weight: 700;
    color: var(--pink);
    letter-spacing: -0.02em;
}

.ratings .stars {
    color: #f47f26;
}

.ratings .ratings-count {
    color: #000;
    font-size: clamp(16px, 4vw, 32px);
}

.personal-info-title {
    font-size: 24px;
    font-weight: 600;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.personal-info {
    background: #fff;
}

.info-row {
    padding: 10px 0 2px;
    border-bottom: 1px solid #000;
    max-width: 500px;
}

.info-label {
    font-size: 16px;
    font-weight: 700;
    color: #000;
    line-height: 1;
    margin-bottom: 0.25rem;
}

.inputWrapCol {
    width: 80%;
}

.info-value {
    font-size: 16px;
    color: var(--pink);
    border: none;
    font-weight: normal;
    line-height: 1;
    padding: 0;
    height: auto;
    width: 100%;
}

.add-btn {
    color: #06b39a;
    font-weight: 700;
    text-decoration: none;
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    gap: 2px;
    cursor: pointer;
}

.myads-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 2.5rem 1rem;
}

.account-page .border-btn {
    margin: 1rem auto 2rem;
}



@media (max-width: 768px) {
    .business-name {
        font-size: 28px
    }

    .ProfilePic {
        width: 200px
    }
}


@media (max-width: 1440px) {
    .catGrid {
        justify-content: start;
    }
}