.category-cardWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 40px 30px;
}

.category-cardWrapper .category-card {
    text-align: center;
    box-shadow: 3px 3px 9px 2px #00000040;
}

.default-cardStyle {
    padding: 30px 20px 15px;
}

.default-cardStyle img {
    max-height: 100px;
    margin: auto;
    object-fit: contain;
}

.default-cardStyle .card-title {
    color: #848484;
    font-weight: 400;
}


/* bottom fixed bar css  */

.bottomBarMain {
    display: none;
    justify-content: space-evenly;
    gap: 5px;
    padding: 10px 15px;
    background: #ffff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 2px solid var(--pink);
    z-index: 999;
    height: 70px;
}

.bottomBarMain .icontext {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--pink);
    filter: grayscale(1) brightness(0.0) invert(0.45) invert(1);
}

.bottomBarMain .icontext:hover,
.bottomBarMain .icontext.active {
    filter: none;
}

.bottomBarMain .icontext img {
    width: 100%;
    max-width: 30px;
}

.bottomBarMain .icontext p {
    font-size: 11px;
    margin: 0;
}

/* input.form-control, .input-group .input-group-text {
    border-radius: 0 !important;
} */

.copyrightSec.text-center {
    letter-spacing: 0.2em;
}


/* header mega menu css  */

.megaMenuIcon{
    width: 100%;
    height: 100%;
    max-width: 25px;
    max-height: 25px; 
    object-fit: contain;
}
.firstLevelMenu .menuIconWrapper {
    background: #f9ddea;
    border-radius: 100%;
    padding: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mega-menu .list-group {
    --bs-list-group-bg: transparent;
    --bs-list-group-border-color: transparent;
    --bs-list-group-border-radius: 10px;
    --bs-list-group-active-bg: var(--pink);
    --bs-list-group-active-border-color: var(--pink);
    --bs-list-group-item-padding-y: 2px;
}
.mega-menu .list-group-item{
    margin: 1px 0;
}
.mega-menu .list-group-item:hover{
    background: var(--pink);
    color: #fff;
    cursor: pointer;
    border-radius: var( --bs-list-group-border-radius);
}
.mega-menu .list-group-item.active,
.mega-menu .list-group-item:last-child,
.mega-menu .list-group-item:first-child {
    border-radius: var( --bs-list-group-border-radius);
}

.menu-category-list li a{
    text-decoration: none;
    color: #000;
}

.square-list{
    list-style: square;
}
.square-list li::marker{
    color: var(--pink);
}

.mega-menu-title {
    font-size: 18px;
}
.single-list .list-group-item{
    font-size: 20px;
    margin-bottom: 6px;
    padding: 0;
}
.single-list .list-group-item:hover{
    background: transparent;
    color: var(--pink);
}
.menu-icon {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #fff;
    border: 1px solid var(--pink);
    padding: 0.08rem 0.2rem 0.2rem;
}
.menu-icon img {
    width: 100%;
    object-fit: contain;
    max-width: 20px;
}

/* vendor catogory page  */

.hoverlistItem:hover{
    color: var(--pink);
}

.category-button {
  background-color: var(--pink); /* Bootstrap purple */
  color: white;
  border: none;
  padding: 2px 10px 4px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


/* planning tools card  */

.planningToolCard.card {
    --bs-card-bg: #e5c9d6;
    --bs-card-height: 100%;
    --bs-card-border-radius: 0;
    color: #fff;
    padding: 2rem;
    overflow: hidden;
}
.planningToolCard .card-body,
.planningToolCard .card-footer{
    position: relative;
}
.planningToolCard::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -15%;
    width: 130%;
    height: 65%;
    border-radius: 50% 50% 0 0;
    background: #831e62;
    z-index: 0;
}

.pt-cardIcon {
    background: #fff;
    border: 4px solid #bc0d73;
    border-radius: 50%;
    width: 100%;
    max-width: 160px;
    height: 160px;
    margin: auto;
    padding: 2rem;
}

.pt-cardBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--pink);
    background: #eaeaea;
    width: fit-content;
    margin: auto;
    padding: 8px 14px;
    border-radius: 20px;
}


.viewProfileIcon{
    width: 100%;
    max-width: 80px;
}

.icon-text{
    display: flex;
    align-items: center;
    gap: 8px;
}



/* toggle panel / accordion css */

.togglePanel.accordion {
   --bs-accordion-active-border-color: var(--pink);
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e");
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgb(234 208 221 / 0%);
    --bs-accordion-active-color: #FFF;
    --bs-accordion-active-bg: var(--pink);
}

.togglePanel.accordion .accordion-body {
    background: var(--light-pink);
    border: 1px solid var(--pink);
    border-top: 0;
}

.togglePanel.accordion .accordion-body a{
    font-weight: bold;
    color: var(--bs-accordion-color);
    text-decoration: none;
}
.togglePanel.accordion .accordion-body a:hover{
    text-decoration: underline;
}

.accordion-button[aria-expanded="true"]{
   --bs-accordion-border-color: var(--pink);
}



/* add vendor page  */

.custom-switch.form-switch{
    /* padding: 0;
    display: flex;
    align-items: center; */
}

.custom-switch.form-switch .form-check-input{
    background-color: transparent !important;
    position: relative;
}

.custom-switch.form-switch .form-check-input:checked,
.custom-switch.form-switch .form-check-input:focus{
    border-color: var(--pink);
    box-shadow: none;
    outline: 0;
}

.custom-switch.form-switch .form-check-input:checked::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #921f62 50%,  #FFFFFF 50%);
    z-index: -1;
}

.custom-switch .form-check-input:checked {
    background-color: #fff;
    border-color: var(--pink);
    --bs-form-switch-bg:  url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23921f62' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e"); 
}













@media (max-width:1200px){
    .planningToolCard.card {
        padding: 2rem 0;
    }
}


@media (min-width: 992px){
    .newsletterRow input {
        border-radius: 6px 0 0 6px;
    }

    .newsletterRow button.btn.btn-theme {
        border-radius: 0 6px 6px 0;
    }
}

@media (max-width:992px){
    body:has(.bottomBarMain) .footer{
        display: none;
    }
    
    .bottomBarMain{
        display: flex;
    }
    /* body  footer.footer {
        margin-bottom: 70px;
    } */
    body {
        padding-bottom: 70px;
    }
    .bottomForm {
        flex-direction: column;
        gap: 8px;
    }
    
    .bottomFormLeft {
        width: 100% !important;
        flex-direction: column;
        gap: 8px;
        background: transparent !important;
    }
    
    .BannerInput {
        width: 100%;
        background: #fff;
    }
    
    .BannerBtn,.BannerBtn button {
        width: 100%;
        max-width: 100% !important;
        margin: 0 !important;
    }
}

@media (max-width:767px){
    .category-cardWrapper {
        grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
        gap: 20px 16px;
    }
}

@media (max-width:575px){
    .bottomBarMain{
        justify-content: space-between;
    }
    .category-cardWrapper {
        grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    }
    .default-cardStyle {
        padding: 30px 10px 15px;
    }
    .default-cardStyle .card-title {
        font-size: 16px;
    }
    .default-cardStyle img {
        max-height: 60px;
    }
}
