h1,h2,h3,h4,h5,h6 {
    margin-bottom: 0 !important;
}

.cardSec img {
    height: 300px;
    object-fit: cover;
}

input:focus,select:focus,input:focus-visible,select:focus-visible {
    border-color: unset !important;
    outline: 0;
    box-shadow: unset !important;
}

.custom-container {
    padding: 0 15px;
    max-width: 1480px;
    margin: 0 auto;
}

.carousel-item img {
    height: 70vh;
    width: 100%;
    object-fit: cover;
}

.BannerImgs::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #110f3e4d;
    width: 100%;
    height: 100%;
}

.bannerCaption {
    position: relative;
}


.bannerTxt h2 span{
    color: var(--pink);
}


.bannerTxt h2 {
    font-size: 32px;
    font-weight: 700;
}

.bannerTxt {
    margin-bottom: 15px;
}

.bannerTxt h6 {
    font-size: 24px;
}

.bottomForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}


.bottomFormLeft {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    color: #000000;
    width: calc(100% - 150px);
}


.BannerInput {
    display: flex;
    align-items: center;
}

.BannerBtn button,.BannerBtn button:hover {
    background-color: var(--pink);
    max-width: 150px;
    width: 100%;
}

.bottomForm button,.bottomForm select,.bottomForm input,.bottomForm button,.bottomForm select,.bottomForm input::placeholder {
    font-size: 22px;
    padding: 10px;
    color: #686868;
}


.BannerInput span {
    color: var(--pink);
    display: flex;
    font-size: 22px;
    align-items: center;
}

.BannerSelect {
    width: 100%;
}


.howitworkbg {
    background: url(../src/assets/Images/hiworks.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}


.howitworkbg::before {
    content: '';
    position: absolute;
    top: 0;
    background-color: rgb(234 208 221 / 60%);
    left: 0;
    width: 100%;
    height: 100%;
}


.howitworkbg .card {
    background:unset;
}


.howitworkbg  .card-title {
    color: var(--pink);
}
/* FOOTER */


footer.footer {
    padding: 40px 40px  10px;
    background: var(--pink);
}

footer.footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer.footer ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

footer {
    color: #ffffff;
}

.ft-logo-sec  h6{
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 24px;
}


 .copyrightSec h6{
    font-size: 24px;
    font-style: italic;
}

.social_links {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

footer.footer ul.social_links li a {
    font-size: 40px;
}

.appStoreSec img {
    max-width: 200px;
}


/* FOOTER */