/* Auth shared styles */
.auth-page {
  padding: 40px 0;
  /* background: var(--light-pink); */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-page *{
  transition: all 0.3s linear;
}

.auth-page .container {
  max-width: 1100px;
  padding: 0 20px;
}

.auth-page .container>.row {
  background: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 20px #921f6230;
}

.auth-card {
  padding: 48px 24px;
}

.auth-link {
  color: var(--pink);
  text-decoration: none;
  font-weight: 600;
}

.auth-link:hover {
  color: #7a1853;
  text-decoration: underline;
}

/* Inputs */
.auth-card .form-control {
  border-radius: 10px;
} 

.authLeft {
  background: var(--light-pink);
}

.auth-left-image {
  width: 100%;
  max-width: 200px;
}