.header {
    background-color: var(--light-pink);
    border-bottom: 10px solid var(--pink);
    padding: 0 40px;
}

.header .logo {
    max-width: 160px;
}

.header .navbar {
    padding: 0;
}

.header .nav-link {
    color: var(--pink);
    font-size: 16px;
    padding: 0.5rem;
    padding-bottom: 40px;
    transition: unset;
    font-weight: 500;
    text-decoration: none;
}


.navbar-brand {
    padding-right: 15px;
}

.header .rightNavLink {
    display: flex;
    color: var(--pink);
    font-size: 16px;
    padding: 0.5rem;
    transition: unset;
    font-weight: 500;
    text-decoration: none;
    align-items: center;
    gap: 7px;
    text-transform: capitalize;
    padding-top: 5px;
}

.nav-mega:has(.rightNavLink) a {
    height: auto;
}


.postYourAd {
    padding: 10px 20px !important;
    background: var(--pink);
    color: #ffffff !important;
    border-radius: 30px;
}


header .navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: var(--pink);
}



.nav-mega a {
    height: 100%;
}


.nav-mega {
    position: relative;
}

.megamenu-wrapper {
    top: 100%;
    left: 0;
    margin-top: var(--bs-dropdown-spacer);
    width: 100%;
    min-width: 800px;
    background: var(--light-pink);
    border: unset;
    border-radius: 0;
    padding: 15px;
    position: absolute;
    z-index: 9;
    /* border-top: 11px solid var(--pink); */
    border-top: 10px solid var(--pink);
    display: none;
}

.mini-mega-menu{
    min-width: 400px;
}

.nav-mega:has(.rightNavLink):hover .megamenu-wrapper {
    top: 50%;
    border: 0;
}

.menu-list {
    min-width: unset;
}


.menu-list ul li {
    list-style: none;
}

.menu-list ul li a {
    color: var(--pink);
    text-decoration: none;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 600;
}

.nav-mega:hover .megamenu-wrapper {
    display: block;
}

.header .navbar .nav-link:hover::before,
.header .navbar .nav-mega:hover .nav-link::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--pink);
}

.header .navbar .nav-link:hover,
.header .navbar .nav-mega:hover .nav-link {
    background-color: var(--pink);
    color: var(--light-pink);
    position: relative;
}

.header .navbar-expand-lg .navbar-collapse {
    align-self: end;
}

.nav-search {
    align-self: flex-start;
}

.header .navbar-expand-lg .navbar-nav {
    gap: 0.5rem;
}

.header .center-links {
    align-self: end;
}

.nav-search input,
.nav-search button {
    border-radius: 0;
    border: none;
}

.header .center-links {
    flex: 1 1 0;
}

.nav-search .row {
    background: #921f62;
    padding: 4px;
    margin: 0;
}

.nav-search button,
.nav-search button:hover {
    background: transparent;
}

.nav-search button svg {
    font-size: 24px;
}


.headerNavbar {
    align-items: end;
}


.responsiveNav {
    align-self: flex-end;
}  

.user-wrapper .nav-link {
    display: flex;
    align-items: center;
    gap: 7px;
    font-weight: 700;
}

.user-wrapper .nav-link svg {
    font-size: 30px;
    color: #000;
}

.social-icons a {
    color: var(--pink);
    transition: all 0.5s;
    font-size: 30px;
}

.social-icons {
    justify-content: end;
    align-items: flex-start;
    padding-bottom: 12px;
}

.header .navbar .user-wrapper .nav-link:hover {
    background-color: transparent;
    color: var(--pink)
}

.user-wrapper .nav-link::before {
    display: none;
}


.roundPinkImg {
    border-radius: 100%;
    padding: 8px;
    border: 1px solid var(--pink);
    width: 160px;
    height: 160px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.roundPinkImg .icon {
    background-color: var(--pink);
    color: #fff;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    cursor: pointer;
}


.roundPinkImg .icon:hover svg {
    transform: scale(1.2);
    transition: all 0.5s;
}

.social-icons a:hover svg {
    transform: translateY(-3px);
}

.roundPinkImg .icon svg {
    max-width: 70px;
    background: transparent;
    height: 70px;
    width: 100%;
    border: unset;
    border-radius: unset;
}

.twoBtnSec ul {
    list-style: none;
    display: flex;
    gap: 40px;
    justify-content: center;
}


body .dark-btn {
    border: 1px solid var(--pink);
    border-radius: 0;
    background-color: var(--pink);
    padding: 8px 10px;
    min-width: 120px;
}


body .dark-btn:hover {
    background-color: #fff;
    color: var(--pink);
    border: 1px solid var(--pink);
}


body .gray-btn {
    border: 1px solid #545454;
    border-radius: 0;
    background-color: #545454;
    padding: 8px 10px;
    min-width: 120px;
}

body .gray-btn:hover {
    background-color: #fff;
    color: #545454;
    border: 1px solid #545454;
}



.cardSec img {
    height: 300px;
    object-fit: cover;
}

input:focus,
select:focus,
input:focus-visible,
select:focus-visible {
    border-color: unset !important;
    outline: 0;
    box-shadow: unset !important;
}


.carousel-item img {
    height: 70vh;
    width: 100%;
    object-fit: cover;
}

.BannerImgs::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0 0 0 / 40%);
    width: 100%;
    height: 100%;
}


.howitworkbg  .howitworkbgRow div>a {
    text-decoration: none;
}

.twoBtnSec button.dark-btn {
    min-width: 180px;
    font-weight: 700;
}


.bannerTxt h2 span {
    color: var(--pink);
    -webkit-text-stroke: 0.015em #ead0dd;
}


.bannerTxt h2 {
    font-size: 32px;
    font-weight: 700;
}

.bannerTxt {
    margin-bottom: 15px;
}

.bannerTxt h6 {
    font-size: 24px;
}

.bottomForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}


.bottomFormLeft {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    color: #000000;
    width: calc(100% - 150px);
}


.BannerInput {
    display: flex;
    align-items: center;
}

.BannerBtn button,
.BannerBtn button:hover {
    background-color: var(--pink);
    max-width: 150px;
    width: 100%;
}

.bottomForm button,
.bottomForm select,
.bottomForm input,
.bottomForm button,
.bottomForm select,
.bottomForm input::placeholder {
    font-size: 22px;
    padding: 10px;
    color: #686868;
}


.BannerInput span {
    color: var(--pink);
    display: flex;
    font-size: 22px;
    align-items: center;
    max-width: 24px;
    width: 100%;
}

.BannerSelect {
    width: 100%;
}


.howitworkbg {
    background: url('../../assets/Images/hiworks.jpg');
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    border-color: var(--pink);
    border-style: solid;
    border-width: 3px 0;
}


.howitworkbg::before {
    content: '';
    position: absolute;
    top: 0;
    background-color: rgb(234 208 221 / 60%);
    left: 0;
    width: 100%;
    height: 100%;
}


.howitworkbg .card {
    margin-bottom: 15px;
    background: unset;
}


.howitworkbg .card-title {
    color: var(--pink);
}

/* FOOTER */


footer.footer {
    padding: 40px 40px 20px;
    background: var(--pink);
}

footer.footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer.footer ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

footer {
    color: #ffffff;
}

footer.footer h4 {
    font-size: 24px;
    margin-bottom: 20px !important;
}

.ft-logo-sec h6 {
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 18px;
}


.copyrightSec h6 {
    font-size: 18px;
    font-style: italic;
}

.social_links {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

footer.footer ul.social_links li a {
    font-size: 32px;
}

.appStoreSec img {
    max-width: 160px;
}


footer.footer ul li a:hover {
    text-decoration: underline;
}

/* FOOTER */

.cardSec .card {
    overflow: hidden;
    transition: all 0.5s;
    border-radius: 0;
}

.cardSec .card:hover img {
    transform: scale(1.2);
    transition: all 0.5s;
}


.cardSec .card-title.h5 {
    margin: 0;
    font-size: 24px;
}

.cardSec .card img {
    transition: all 0.5s;
}


.carousel-control-prev, .carousel-control-next {
    width: 30px;
}

.howitworkbg .card-title {
    font-size: 18px;
}

@media (max-width: 1600px) {
    .header {
        padding: 0;
    }
    .header .nav-link {
        font-size: 14px;
    }
}


@media (max-width: 1400px) {

    .header .nav-link,
    .header .rightNavLink {
        font-size: 14px;
        padding-bottom: 30px;
    }

    .header .logo {
        max-width: 120px;
    }


    .megamenu-wrapper {
        min-width: 680px;
    }
}

@media (max-width: 1360px) {
    .header .navbar-expand-lg .navbar-nav {
        gap: 0;
    }
}


@media (max-width: 1199px) {
    .navbar-brand {
        margin: 0 !important;
        padding-right: 10px;
    }

    .header .navbar-expand-lg .navbar-nav {
        gap: 5px;
    }

    span.postSpan {
        display: none;
    }

    body .header .nav-link,
    .header .rightNavLink {
        font-size: 13px;
        padding-bottom: 25px;
    }

    section.banner-sec .carousel-control-next,section.banner-sec .carousel-control-prev {
        width: 40px;
     }
}

@media (max-width: 1199px) {
    button.navbar-toggler {
        padding: 0;
        border: unset;
    }

    .postYourAd {
        padding: 5px 12px !important;
    }

    .header {
        border: unset;
        background: #fff;
    }
    .myAccount.dropdown #basic-nav-dropdown {
        padding: 0;
    }

    .myAccount.dropdown .dropdown-toggle::after {
        display: none;
    }

    .header .navbar .nav-link:hover::before,
    .header .navbar .nav-mega:hover .nav-link::before {
        display: none;
    }

    .header .navbar .nav-link:hover,
    .header .navbar .nav-mega:hover .nav-link {
        background-color: unset;
    }

    .myAccount.dropdown .dropdown-menu.show {
        left: auto !important;
        right: 0;
        top: 40px;
    }

    .responsiveNav {
        transform:translate(-150% , 0);
        position: fixed !important;
        transition: 0.3s ease-out;
        width: 100%;
        height: 100%;
        max-width: 350px;
        top: 0;
        left: 0;
        
        z-index: 99999;
        background: #fff;
    }

    .responsiveNav.active {
        transform: translate(0%);
        transition: 0.3s ease-out;
        align-items: flex-start;
    }

    .headerNavbar {
        align-items: center;
    }
    
    .header .center-links {
        flex-direction: column !important;
        flex: unset;
        align-self: flex-start;
        justify-content: flex-start;
        width: 100%;
        padding:0;
    }


}

@media (max-width: 991px) {
    button.navbar-toggler {
        padding: 0;
        border: unset;
    }

    .bannerTxt h2 {
        font-size: 28px;
    }

    .bannerTxt h6 {
        font-size: 16px;
        margin-top: 5px;
    }

    .bannerCaption.carousel-caption {
        width: 100%;
        max-width: calc(100% - 15px);
        left: 50%;
        top: 50%;
        right: auto;
        transform: translate(-50% , -50%);
    }
    .bottomForm {
        max-width: 100%;
    }

    .BannerInput span {
        padding: 5px 10px;
        min-width: 40px;
    }

    .carousel-control-prev, .carousel-control-next {
       display: none;
    }

    .cardSec .card-title.h5 {
        font-size: 16px;
    }

}


@media (max-width: 767px) {
    .header .logo {
        max-width: 80px;
    }  

    .bannerTxt h2 {
        font-size: 28px;
    }
    
    .bannerTxt h2 span {
        color: #ffffff;
    }
    
    .nav-mega a svg {
        width: 24px;
        height: 24px;
    }
    
    button.navbar-toggler svg {
        width: 24px;
    }

    .bottomBarMain .icontext img {
        width: 100%;
        max-width: 24px;
    }

    .roundPinkImg {
        
        width: 120px;
        height: 120px;
    }
    .twoBtnSec ul {
        gap: 15px;
    }
    .BannerSelect select, .BannerInput input,.BannerInput input::placeholder, .BannerBtn button {
        height: 40px;
        font-size: 16px;
        line-height: 1;
        padding: 5px 10px;
    }
}


@media (max-width: 575px) {
.cardSec img {
    height: 150px;
    object-fit: cover;
}

}